{% extends '::base.html.twig' %}
{% block body %}
    {% for category in categories %}
        <div class="alert alert-success" role="alert"">
            <header>
                <h5><a href="{{ path('acme_store_show_category', { 'id':category.id}) }}">{{ category.title }}</a> </h5>
            </header>
        </div>
    {% else %}
        <p>There are not any category</p>
    {% endfor %}
{% endblock %}