{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="span6">
            <div class="nav nav-list">
                <div class="text-left">
                    <div class="alert-info">
                        <div class="nav-header">Title: {{ product.title }}</div>
                        <h6>Price: {{ product.price }}</h6>
                        <h6>Description: {{ product.description }}</h6>
                    </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}