{% extends '::base.html.twig' %}
{% block body %}
   {% for product in products %}
       <div class="mosaic-box">
           <h6><a href="{{ path('acme_store_show_product', { 'id':product.id}) }}">{{ product.title }}</a></h6>
       </div>
   {% endfor %}
{% endblock %}