{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="span4">
            <ul class="nav nav-list">
                <li class="nav-header">Products:</li>
                {% for product in products %}
                    <li><a href="{{ path('acme_store_show_product',
                        { 'id':product.id}) }}">{{ product.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}